* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #ff9a9e 0%, #fecfef 100%);
    margin: 0;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
    margin: 10px;
    animation: fadeIn 1s ease-in-out;
}

h1 {
    border:none;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: medium;
    
}


p {
    font-size: 1.2em;
    color: purple;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: #ffffff;
    background-color: #e91e63;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d81b60;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }

    button {
        padding: 10px;
        font-size: 0.9em;
    }
}
